<div class="banner">
<!--   <a href="http://software-carpentry.org" title="Software Carpentry">
    <img alt="Software Carpentry banner" src="img/software-carpentry-banner.png" />
	</a> -->
	<a href="http://usegalaxy.org" title="Galaxy Community Conference 2015 Training Course - Finding Causative Mutations Using A Candidate SNP Approach">
	<img alt="Galaxy Logo" src="img/galaxy.png">	
	<a href="gcc2015.tsl.ac.uk" title="Galaxy Community Conference 2015 @ TSL">
	<img alt="GCC 2015" src="img/castle.png"> 
  </a>
  <span style="font-family:'Open Sans',sans-serif;font-size: 1.8em; font-weight: 400;"> GCC 2015 </span> <span><Finding Causative Mutations With A Candidate SNP approach</span>
</div>
