<div class="banner">
<!--   <a href="http://software-carpentry.org" title="Software Carpentry">
    <img alt="Software Carpentry banner" src="img/software-carpentry-banner.png" />
	</a> -->
	<a href="http://summerschool.tsl.ac.uk" title="TSL Summer School 2015 - Finding Causative Mutations Using A Candidate SNP Approach">
	<img alt="Galaxy Logo" src="img/logo.png">	
	<a href="summerschool.tsl.ac.uk" title="Summer School 2015 @ TSL">
  </a>
  <span style="font-family:'Open Sans',sans-serif;font-size: 1.8em; font-weight: 400;">  </span> <span>Finding Causative Mutations With A Candidate SNP approach</span>
</div>
